sudo: required
language: generic


services:
  - docker

before_install:
  - docker build -t azizsyed/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true azizsyed/docker-react npm run test -- --coverage
