sudo: required
language: generic


services:
  - docker

before_install:
  - docker build -t azizsyed/docker-react -f Dockerfile .

script:
  - docker run -e CI=true azizsyed/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-2-567390130543"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
